body{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100vh;
}

.main
{
    background-color: black;
    display: grid;
    padding: 1px;
    width: 980px;
    height: 980px;
    margin-left: 1rem;
}
.GridLines
{
    gap: 1px !important;
}
#panel
{
    align-self: flex-start;
    display: flex;
    flex-direction: column-reverse;
    height: 73vh;
    align-items: flex-end;
    margin-top: 5rem;
}
#reset:hover
{
    color: rgb(254, 222, 222);
    background-color: rgb(203, 0, 0);
    border:none;
}
#generate:hover
{
    color: #eefef2;
    background-color: rgb(69, 187, 69);
    border:none;
}
#reset
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border-style: solid;
    border-color: rgb(186, 35, 35);
    border-radius: 3px;
    background-color: rgb(221, 101, 101);
    width: 6rem;
    height: 4rem;
    color: rgb(80, 0, 0);
    font-weight: 700;
    font-size: 1.25rem;
    position: relative;
    bottom: 2px;
}
#showGrid:hover
{
    color: rgb(195, 195, 195);
    background-color: #323436;
    border:none;
}
#showGrid
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    border-radius: 3px;
    background-color: rgb(195, 195, 195);
    width: 10rem;
    height: 4rem;
    color: #323436;
    font-weight: 700;
    font-size: 1.5rem;
}
#generate
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border-style: solid;
    border-color: rgb(27, 185, 27);
    border-radius: 3px;
    background-color: rgb(163, 211, 163);
    width: 15rem;
    height: 4rem;
    color: #125e26;
    font-weight: 700;
    font-size: 1.5rem;
}
#mainBtn
{
    margin-top: 1%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: flex-end;
}

#clrContainer
{
    margin-bottom: 5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
#centerContent
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
/* .shade
{
    margin-bottom: 2rem;
    width: 3rem;
    height: 1rem;
} */
.colors
{
    border-style: none;
    border-radius: 20px;
    width: 10rem;
    height: 5rem;
    font-size: 24px;
    font-weight: 600;
}
/* Animation on hover */

button.colors.green:hover  
{
    background-color: rgb(146, 216, 146);
    color:#125e26;
}
button.colors.pink:hover
{
    color: rgb(230, 115, 156);
    background-color: #F4C2C2;
}
button.colors.grey:hover
{
    background-color: rgb(123, 123, 123);
    color: #323436;
}
button.colors.erase:hover
{

    background-color: #cfcfcf; 
    color: #3e3e3e;
    border: none;
}
button.colors.blue:hover
{
    background-color: #7cbcfc;
    color: #007FFF;
}
button.colors.yellow:hover
{
    background-color: #a89d02;
    color: #FFEF00;
}
button.colors.red:hover
{
    background-color: #ff939f;
    color: #eb132c;
}
button.colors.purple:hover
{
    background-color: #c687f7;
    color: #8F00FF;
}


/* Animation on hover */
button.colors.green
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: rgb(146, 216, 146);
}
button.colors.pink
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: #F4C2C2;
}
button.colors.grey
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: rgb(175, 175, 175);
}
button.colors.erase
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    background-color: #f1f1f1;
    border: solid rgb(193, 193, 193) 2px;
}
button.colors.blue
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
button.colors.yellow
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
button.colors.red
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
button.colors.purple
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.square
{
    background-color: white;
}
.grey
{
    background-color: #323436;
}
.blue
{
    background-color: #007FFF;
}
.red
{
    background-color: #ED2039;
}
.green
{
    background-color: #125e26;
}
.purple
{
    background-color: #8F00FF;
}
.pink
{
    background-color: rgb(230, 115, 156);
}
.yellow
{
    background-color: #FFEF00;
}
.erase
{
    background-color: white;
}